.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-scrap-button {
  background-color:#7289DA !important;
  color: white !important;
  font-size:1.6em !important;
}
.app-title {
  color:	#2c2f33;
  font-size:3em
}

.App-header {
  background-color: #99aab5	;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
